.splash-nav-bar, .splash-nav-right, .splash-nav-right {
  height: 77px;
}

.splash-nav-bar {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  
  justify-content: space-between;
  
  z-index: 100;
  
}
.splash-nav-left {
  width: 100%;
  display: flex;
}

.splash-nav-right{
  width: 546px;
}
.splash-nav-right-contents {
  
  height: fit-content;
  display: flex;
  justify-content: space-between;


 
}


.splash-nav-contents-div {
  margin: 10px 20px;
  
  vertical-align: middle;
  &:hover {
    border-bottom: 2px solid white;
    padding-bottom: 12px;
    cursor: pointer;
  }
}

.splash-nav-contents{
  vertical-align: middle;
  align-items: center;
  font-family: 'Sarabun', sans-serif;
  font-size: 15px;
  outline: none;
  border: none;
  box-align: center;
  background: transparent;
  box-sizing: border-box;
  color: white;

  font-weight: 600;
  text-decoration: none;
  width: fit-content;

}

.splash-nav-buttons {
  margin: 16px 0;
  color: white;
}


.logo-link {
  margin-right: 100px;
}

.logo{
  cursor: pointer;
  width: 100px;
  padding: 20px 22px;
}